

@mixin button-style{
    background-color:transparent;
    border:0;
    padding:0 !important;
    
}

@mixin active-button-style{
    color:$selected_bar_color;
    img{
        filter:$selected_icon_color;
    }
}