$sender_color: #333333;
$subject_color:#333333;
$sender_color:#333333;
$short_description_color:#9b9b9b;
$date_color:#9b9b9b;
$selected_bar_color:#4990e2;
$selected_bg_color:#f9f9f9;
$text_color:#333333;
$mail_bg_color:#f6f6f7;
$mail_actions_color:#8b8b8b;
$border_color:#b5b5b5