$sender_color: #333333;
$subject_color:#333333;
$sender_color:#333333;
$short_description_color:#9b9b9b;
$date_color:#9b9b9b;
$selected_bar_color:#4990e2;
$selected_icon_color:invert(56%) sepia(46%) saturate(3636%) hue-rotate(190deg) brightness(96%) contrast(84%);
$selected_bg_color:#f9f9f9;
$text_color:#333333;
$mail_bg_color:#f6f6f7;
$mail_actions_color:#8b8b8b;
$mail_actions_icon_color:invert(55%) sepia(0%) saturate(1305%) hue-rotate(232deg) brightness(100%) contrast(84%);
$border_color:#b5b5b5