$font_family:"Helvetica";
$mail_list_filter:10px;
$mail_list_text:12px;
$mail_content_subject:16px;
$mail_content_sender:16px;
$mail_content_action:19px;
$mail_content_body:14px;
$mail_content_date:12px;