@import "colors";
@import "typography";

.email-item{
    list-style-type: none;
    height: 80px;
    padding:15px;
    border-top:1px solid $border_color;
    box-sizing: border-box;
    font-size:$mail_list_text;
    position:relative;
    .header{
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding-bottom: 3px;
        img{
            width:$mail_list_text - 3px;
            margin-right:4px;
        }
    }
    .from{
        color:$sender_color;
        padding-bottom: 3px;

    }
    .subject{
        color:$subject_color;
        padding-bottom: 3px;
        display:block;
    }
    .description{
        color:$short_description_color;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display:block;
    }
    .date{
        color:$date_color;
        position:absolute;
        top:10%;
        right:2%;
    }
    
    .dot {
        // border: 10px solid #ff0000;
        position:absolute;
        background: $selected_bar_color;
        width: 10px;
        top:50%;
        left:2%;
        transform: translate(-50%, -50%);
        height: 10px;
        border-radius: 50%;
        align-items: center;
        text-align: center;
        
      }
}
.active{
    background-color:$selected_bg_color;
    border-left:3px solid $selected_bar_color;
}

.email-item:hover{
    cursor:pointer;
}
