@import "colors";
@import "buttons";
@import "typography";

button{
    @include button-style;
    font-size: $mail_list_filter;
}

.filter-option{
    display:flex;
    align-items: center;
    margin:10px 7px;

    img{
        width:$mail_list_filter + 3px;
    }
}
.filter-option:hover, .filter-option button:hover{
    cursor:pointer;
}
.active-option{
    @include active-button-style;
}